/* img{
  max-width: 15%;
      position: relative;
     width:100%;
     height:auto;	
  
   
} */
  
/* #two img{
    
  position: absolute;
  
  top: 0;
   left: 0;
  right: 0;
  bottom: 0; 
margin:auto

} */
 #one h1{
   font-size:250px;
   color:black;
   position: absolute;
  
  top: -5%;
   left:30%;

 }