
    


        
    

  #one img{
   max-width: 7%;
      
      border-radius: 50%;
  position: absolute;
       top: 0;
        left:-1%;
       right:0;
       bottom: 11%; 
    margin:auto
  }
  